{
    "discord":{
        "token":"Token",
        "clientid"://BotClientID,
        "owner"://OwnerClientID,
        "prefix":"."
    },
    "slack":{
        "token":"SlackAPIToken"
    }
}